:root {
  font-family: "Ranga", cursive;
}
/* tag selector*/
body {
  background-color: rgba(205, 208, 63, 0.694);
  margin: 0;
}
* {
  box-sizing: border-box;
}
header {
  background: green;
}

section {
  border: 1px red;
  background: yello;
  margin-right: 45%;
  float: left;
}

aside {
  background-color: aqua;
  width: 200px
  float: right;
  float: margin-top;
  border: 2px solid red;
}

footer {
  margin-bottom: 0;
  background: orange;
}
